<%- partial('header') %>
<div class="content center-field archive">
  <% var lastYear; %>
  <% page.posts.forEach(function(post, index){%>
    <% if(lastYear !== post.date.year()) { %>
      <% lastYear = post.date.year(); %>
      <h3><%= lastYear %></h3>
    <% } %>
      <li>
        <div class="left"><%= (post.date.month() + 1) + '-' + (post.date.day() + 1) %></div>
        <div clas="right"><a href="<%- url_for(post.path) %>"><%= post.title %></a></div>
      </li>
  <% }); %>
</div>
<%- partial('footer') %>