<footer>
  <div class="center-field content">
    <div class="copyright">
      <% if (config.author){ %>
      &copy; <%= config.since + ' - ' + new Date().getFullYear() %> <a href="<%- config.root %>"><%= config.author %></a>
      <% } else { %>
      &copy; <%= config.since + ' - ' + new Date().getFullYear() %> <a href="<%- config.root %>"><%= config.title %></a>
      <% } %>
    </div>
    <div class="theme-copyright">
      Theme by <a href="https://github.com/stiekel/hexo-theme-random" target="_blank">Random</a>
       | 
      Redesign by <a href="http://chensd.com/" target="_blank">Stiekel</a>
    </div>
    <div class="clearfix"></div>
  </div>
</footer>